* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

header,
.wrapper,
footer {
    min-width: 1160px;
    margin: 0 auto;
    font-size: 16px;
}


/*Header */

header {
    color: #000000;
    font: normal 0.875em Lato;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 40px 0;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .menu a {
    font-size: 1em;
    color: #000000;
}

.navigation .menu {
    padding: 25px 10px;
}

.logo-text {
    font: normal 4.5em RobotoMono;
    color: #000000;
    padding: 25px 45px;
    border: 2px dashed #000000;
}


/* Wrapper */

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}


/* Content */

main {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-weight: 400;
}


/* Sidebar */

aside {
    width: 280px;
    font-family: Lato;
    font-weight: 400;
}

aside .aside-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

aside .aside-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    background-color: #2d2d2d;
    margin: 0 0 10px 0;
}

aside .about-logo {
    margin: 0 0 10px 0;
}

aside .about-txt {
    margin: 0 0 20px 0;
    text-align: center;
}

aside .follow-us .social-block {
    padding: 15px 0;
}

aside .pinterest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 20px 0;
}

aside .pinterest img {
    width: 90px;
    height: 90px;
}

aside .follow-us .aside-social {
    font-size: 20px;
    margin: 0 5px;
}

aside .latest-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
}

.latest-post .latest-post-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.latest-post-list .latest-post-block {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;
}

.latest-post .latest-post-block:last-of-type {
    border: none;
}

.latest-post-list .latest-post-block img {
    width: 90px;
    height: 70px;
}

.latest-post-block .post-id {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.latest-post-block .post-id .post-id-text {
    font-size: 13px;
    color: #282828;
}

.latest-post-block .post-id .post-id-date {
    font: normal 11px 'OpenSans';
    color: #646464;
}


/* Article main */

main {
    display: flex;
    flex-direction: column;
}

main article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
}

article .article-category {
    font: normal 14px 'OpenSans';
    color: #060606;
    padding: 10px 0;
}

article .title {
    font-size: 32px;
    font-weight: 500;
    color: #282828;
    padding: 10px 0;
}

article .article-date {
    font: 400 12px 'OpenSans';
    color: #8d8d8c;
    padding: 10px 0;
}

article .article-logo {
    width: 100%;
    height: auto;
}

article .article-text {
    text-align: justify;
    font-size: 14px;
    color: #5c5c5b;
    padding: 10px 10px;
}

article .continue-read {
    width: 236px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c3434;
    align-self: flex-start;
    margin: 0 0 0 10px;
    color: #000000;
}


/* Comments */

.comments {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.comment {
    width: 100%;
    display: flex;
    color: #282828;
    margin: 20px 0;
}

.comment .comment_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.comment .author_icon {
    width: 87px;
    height: 87px;
    margin: 0 30px 0 0;
}

.comment .author_name {
    font: 600 18px OpenSansSmBd;
    padding: 3px 0;
}

.comment .date_publication {
    font: normal 12px OpenSans;
    padding: 3px 0;
}

.comment .comment_text {
    font: normal 14px Lato;
    color: #7f7f7f;
    padding: 3px 0;
}

.subcomment {
    width: 85%;
    align-self: flex-end;
}

.comment .reply {
    align-self: center;
    font: 600 12px OpenSansSmBd;
    color: #7f7f7f;
    background: #d7d7d7;
    padding: 6px 20px;
    border-radius: 13px;
}


/* Not Found */

.not_found {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.not_found_img {
    width: 1164px;
    height: 598px;
}

.not_found_title {
    font: 300 64px 'Lato';
    color: #000000;
    padding: 30px 0;
}

.not_found_text {
    font: 500 18px 'Lato';
    color: #767676;
    padding: 30px 0;
}

.goto_homepage {
    margin: 40px 0px;
    padding: 5px 10px;
    background: #000000;
    color: #ffffff;
    font: 500 15px 'Lato';
}

.goto_homepage:hover {
    background: rgba(0, 0, 0, .7);
    transition: all 0.5s;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

footer .footer-image {
    display: flex;
}

.footer-image img {
    width: 320px;
    height: 320px;
}

footer .opacity-wrapper {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 320px;
}