* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

header,
.wrapper,
footer {
    width: 1920px;
    margin: 0 auto;
    font-size: 16px;

}

/*Header */

header {
    color: #000000;
    font: normal 0.875em Lato;
    background: #3d6983;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 40px 0;

}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .menu a{
   font-size: 1em;
    color: #000000;

}

.navigation  .menu {
    padding: 25px 10px;
}

.logo-text {
    font: normal 4.5em  RobotoMono;
    color: #000000;
    padding: 25px 45px;
    border: 2px dashed #000000;
}



/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

footer .footer-image {
    display: flex;
}

.footer-image img {
    width: 320px;
    height: 320px;
}

footer .opacity-wrapper {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 320px;
}
